@page "/customers/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Clients</h3>
<hr />
<br />

<FormComponent ButtonText="Create Customer" customer="customer" OnValidSubmit="@CreateCustomer" />


@code {

    Customer customer = new Customer();

    private IList<Customer> Customers;
    //private IList<Preference> Preferences;
    //private IList<Instrument> Instruments;



    protected async override Task OnInitializedAsync()

    {

        Customers = await _client.GetFromJsonAsync<List<Customer>>($"{Endpoints.CustomersEndpoint}");
        //Preferences = await _client.GetFromJsonAsync<List<Preference>>($"{Endpoints.PreferencesEndpoint}");

        //Instruments = await _client.GetFromJsonAsync<List<Instrument>>($"{Endpoints.InstrumentsEndpoint}");

    }

    private async Task CreateCustomer()

    {

        await _client.PostAsJsonAsync(Endpoints.CustomersEndpoint, customer);

        _navManager.NavigateTo("/customers/");

    }

}