@using FinancialTips.Client.Components

<EditForm Model="@plan" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <fieldset disabled="@Disabled">
        <div class="form-group">

            <div class="form-group">

                <label>Plan Name</label>
                <div>
                    <InputText @bind-Value="plan.PlanName" class="form-control" />
                    <ValidationMessage For="@(()=> plan.PlanName)" />
                </div>
            </div>

        </div>

        <button type="submit" class="btn btn-success btn-block">
            @ButtonText
        </button>

    </fieldset>

    @if (!Disabled)
    {
        <button type="submit" class="btn btn-success btn-block">
            @ButtonText
        </button>
    }

    <BackToList Target="plans" />
</EditForm>

@code {


    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public Plan plan { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }


}
