@page "/instruments/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Instruments</h3>
<hr />
<br />

<FormComponent ButtonText="Create Instrument" instrument="instrument" OnValidSubmit="@CreateInstrument" />

@code {

    Instrument instrument = new Instrument();

    private IList<Instrument> Instruments;
    private IList<Preference> Preferences;
    //private IList<Colour> Colours;



    protected async override Task OnInitializedAsync()

    {

        Instruments = await _client.GetFromJsonAsync<List<Instrument>>($"{Endpoints.InstrumentsEndpoint}");
        Preferences = await _client.GetFromJsonAsync<List<Preference>>($"{Endpoints.PreferencesEndpoint}");

        //Colours = await _client.GetFromJsonAsync<List<Colour>>($"{Endpoints.ColoursEndpoint}");

    }

    private async Task CreateInstrument()

    {

        await _client.PostAsJsonAsync(Endpoints.InstrumentsEndpoint, instrument);

        _navManager.NavigateTo("/instruments/");

    }

}