@page "/instruments/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager


<h3>View</h3>

<FormComponent instrument="instrument" Disabled="true" />


@code {

    [Parameter] public int id { get; set; }
    Instrument instrument = new Instrument();
    protected async override Task OnParametersSetAsync()
    {
        instrument = await
    _client.GetFromJsonAsync<Instrument>($"{Endpoints.InstrumentsEndpoint}/{id}");
    }

}
