@page "/preferences/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Preferences</h3>
<hr />
<br />

<FormComponent ButtonText="Create Preference" preference="preference" OnValidSubmit="@CreatePreference" />

@code {

    Preference preference = new Preference();

    // private IList<Instrument> Instruments;

    private IList<Preference> Preferences;

    //private IList<Customer> Customers;


    protected async override Task OnInitializedAsync()

    {

        //Instruments = await _client.GetFromJsonAsync<List<Instrument>>($"{Endpoints.InstrumentsEndpoint}");
        Preferences = await _client.GetFromJsonAsync<List<Preference>>($"{Endpoints.PreferencesEndpoint}");

        //Colours = await _client.GetFromJsonAsync<List<Colour>>($"{Endpoints.ColoursEndpoint}");

    }

    private async Task CreatePreference()

    {

        await _client.PostAsJsonAsync(Endpoints.PreferencesEndpoint, preference);

        _navManager.NavigateTo("/preferences/");

    }

}