@page "/Consultation"
    <center>
        <img src="/Images/consult.jpg" asp-append-version="true" width="200px" height="100px" />
        <h1>Consultation</h1>
    Book A Consultation With Our Advisors Here!
    
    
    
    </center>

    @code {

    }
