@page "/Plan"
<center>
    <img src="/Images/plan2.jpg" asp-append-version="true" width="100px" height="100px" />
    
    <h1>Plan</h1>
    Create Your Personalised Plan Here!
    
    
</center>

@code {

}
